<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>体重管理サービス - BMI結果</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bmiStyle.css}">
</head>
<body>
    <div class="container">
        <header>
            <h1>BMI結果</h1>
        </header>
        <main>
            <p th:text="'あなたのBMIは ' + ${bmi} + ' です。'"></p>
            <p th:text="${message}"></p>
        </main>
         <img th:src="@{/images/へるぞう挨拶.png}" alt="ゾウのイラスト" class="elephant-img">
        <footer>
             <a th:href="@{/bmi}" class="button">再計算</a>
            <a th:href="@{/dashboard}" class="button">ダッシュボードへ戻る</a>
        </footer>
    </div>
</body>
</html>
