<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>体重管理サービス - 新規登録</title>
    <link rel="stylesheet" th:href="@{/css/registerStyle.css}" type="text/css">
</head>
<body>
    <div class="header-container">
        <div class="header-text m-plus-1-bold">
            <h1>体重管理サービス</h1>
            <h2>ヘルゾウくん</h2>
        </div>
        <img th:src="@{/images/フレーム枠へるぞう.png}" alt="フレーム枠" class="frame">
    </div>
    <div class="register-container">
        <div class="form-container">
            <h1>新規登録</h1>
            <form th:action="@{/register}" method="post">
                <label for="username">ユーザー名：</label>
                <input type="text" id="username" name="username" required><br><br>
                <label for="password">パスワード：</label>
                <input type="password" id="password" name="password" required><br><br>
                <button type="submit">登録</button>
            </form>
        </div>
    </div>
</body>
</html>
